ul#HeaderRow {
    padding: 0;
}
ul#HeaderRow li {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
	width: 150px;
}
ul#HeaderRow li:hover {
    background-color: orange;
}
ul.OptionsRow {
    padding: 0;
}
ul.OptionsRow li {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
	width: 150px;
}
ul.OptionsRow li:hover {
    background-color: lightblue;
}
a {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
	width: 150px;
	margin: 2.5px;
}
a:hover {
    background-color: lightblue;
}
li#HeaderRow a {
    display: inline-block;
    background-color: black;
    color: white;
    /*padding: 5px 5px;*/
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
	width: 150px;
}
li#HeaderRow a:hover {
    background-color: orange;
}
#MainForm {
	display: inline-block;
}
.FormObject {
	display: inline-block;
    border-radius: 5px 5px 5px 5px;
    background-color: orange;
	padding: 10px;
	text-align: center;
	width: 200px;
}
